body {
    background-color: #a2ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-box {
    width: 60vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable-box {
    margin: auto;
}